
streamlit
pandas
numpy
polars
openpyxl

scikit-learn
xgboost
lightgbm
statsmodels
prophet

plotly
altair
matplotlib
seaborn

shap
lime

spacy
transformers
sentence-transformers

openai
langchain

ydata-profiling
great-expectations

faiss-cpu
